{% extends "main.html" %}

{% load static %}

{% block content%}

<span>
  <p>Collaborators</p>
  {% if collaborators %}
  <ul>
    {% for collab in collaborators %}
    <li>{{collab.email}}</li>
    {% endfor %}
  </ul>
  {% endif %}
</span>
<hr>
<div>
  <p>Add Collaborators</p>
  <form action="" method="post">
    {% csrf_token %}
    <select name="collab" id="">
      {% for collab in new_collaborators %}
      <option value={{collab.id}}>{{collab.email}}</option>
      {% endfor %}
    </select>
    <button type="submit">Add</button>
  </form>
</div>
<hr>
<h1>Classic editor</h1>
<div id="editor">
  <p>This is some sample content.</p>
</div>

{% endblock content %}

{% block script %}
<script>
  let editor;

  ClassicEditor.create(document.querySelector("#editor"))
    .then((newEditor) => {
      editor = newEditor;

      function sendContent() {
        const content = editor.getData();
        socket.send(
          JSON.stringify({ type: "send_content", content: content })
        );
      }

      editor.model.document.on("change:data", sendContent);

      const socket = new WebSocket("ws://" + window.location.host + "/ws/document/{{doc.id}}");
      console.log(socket)

      socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        if (data.type === "send_content") {
          editor.setData(data.content);
        }
      };
    })
    .catch((error) => {
      console.error(error);
    });
</script>

{% endblock script %}