{% extends "main.html" %}

{% load static %}

{% block content%}

<span>
  <p>Collaborators</p>
  {% if collaborators %}
  <ul>
    {% for collab in collaborators %}
    <li>{{collab.email}}</li>
    {% endfor %}
  </ul>
  {% endif %}
</span>
<hr>
<div>
  <p>Add Collaborators</p>
  <form action="" method="post">
    {% csrf_token %}
    <select name="collab" id="">
      {% for collab in new_collaborators %}
      <option value={{collab.id}}>{{collab.email}}</option>
      {% endfor %}
    </select>
    <button type="submit">Add</button>
  </form>
</div>
<hr>
<h1>Classic editor</h1>
<div id="editor">
  <form action="" method="post">
    {% csrf_token %}
    {{editor_form.as_p}}
    {{editor_form.media}}
    <button type="submit">Submit</button>
  </form>
</div>

{% endblock content %}

{% block script %}
<script>
  const content = tinyMCE.activeEditor.getContent();
  console.log(content)
</script>

{% endblock script %}