{% extends "main.html" %}

{% load static %}

{% block content%}
<div class="document-toolbar">
  <div class="untitled">
    Untitled
  </div>
  <div class="untitled2">
  </div>
</div>

<form action="" method="post">
  {% csrf_token %}
  {{editor.as_p}}
  {{editor.media}}
</form>

<section class="modal container">
  <div class="modal__container" id="modal-container">
    <div class="modal__content">
      <div class="modal__close close-modal" title="Close">
        <i class='bx bx-x'></i>
      </div>

      <h1 class="modal__title">Good Job!</h1>
      <p class="modal__description">Click the button to close</p>

      <button class="modal__button modal__button-width">
        View status
      </button>

      <button class="modal__button-link close-modal">
        Close
      </button>
    </div>
  </div>
</section>

{% endblock content %}


{% block script %}

{% endblock script %}