{% extends "base.html" %}

{% load static crispy_forms_tags %}

{% block content %}

<div class="mt-20 mb-10">
  <!-- Main Form -->
  <form id="documentForm" action="{% url 'home' %}" method="post" class="mt-6">
    {% csrf_token %}
    <!-- Trigger modal for entering document name -->
    <label for="create" class="text-gray-700 text-sm font-bold mb-2 mr-2">Before collaborating, create a document
      first</label>
    <button id="create" type="button" name="create"
      class="bg-gray-900 hover:bg-gray-800 text-white font-bold py-2 px-4 mb-4 rounded-lg mt-6">
      Create
    </button>
    <div class="mb-4">
      {{ form.media }}
      {{ form.body|safe }}
    </div>
  </form>
</div>

<!-- Modal -->
<div id="createDocumentModal"
  class="hidden fixed top-16 inset-0 bg-gray-500 bg-opacity-75 items-center justify-center z-50">
  <div class="bg-white p-8 rounded w-1/2 mx-auto">
    <form id="modalForm" class="bg-white rounded-lg overflow-hidden">
      <div class="px-6 py-4 w-full">
        <h2 class="text-xl font-bold mb-2">Enter Document Name</h2>
        <label for="document-name" class="block text-gray-700 text-sm font-bold mb-2">Name</label>
        <input type="text" id="document-name" name="name"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required>
      </div>
      <div class="px-6 py-4 flex justify-end space-x-4">
        <button id="cancel" type="button"
          class="bg-gray-500 rounded-lg py-2 px-4 border border-white/[0.9]  text-white text-center font-bold">Cancel</button>
        <!-- Submit button to save form -->
        <button id="saveButton" type="button"
          class="bg-gray-900 rounded-lg py-2 px-4 border border-white/[0.9]  text-white text-center font-bold">Save</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block script %}
<script>

  // Modal display controls
  const createDocumentBtn = document.getElementById("create");
  const createDocumentModal = document.getElementById("createDocumentModal");
  const cancelBtn = document.getElementById("cancel");

  createDocumentBtn.addEventListener("click", function () {
    createDocumentModal.classList.remove("hidden");
    createDocumentModal.classList.add("flex");
  });

  cancelBtn.addEventListener("click", function () {
    hideModal();
  });

  function hideModal() {
    createDocumentModal.classList.add("hidden");
  }

  window.addEventListener("click", function (event) {
    if (event.target === createDocumentModal) {
      hideModal();
    }
  });

  window.addEventListener("keydown", function (event) {
    if (event.key === "Escape") {
      hideModal();
    }
  });

  // Handle Save button click
  document.getElementById("saveButton").addEventListener("click", function () {
    const documentForm = document.getElementById("documentForm");
    const documentName = document.getElementById("document-name");

    documentForm.append(documentName)
    documentForm.submit();
  });
</script>
{% endblock script %}