@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* css to reset all the designs */

/* add styles on elements */

.header {
  border-bottom: 1px solid #e2e8f0;
  background-color: #000;
}

.container {
  margin: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* background-color: #101010; */
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  padding: 7px 12px;
  margin-left: 5rem;
  border-radius: 5px;
}

.login {
  border: 1px solid white;
  border-radius: 5px;
}

.nav-link {
  font-size: 1 rem;
  /* font-weight: 400; */
  /* color: #475569; */
  color: #fff;
  /* change */
}

.nav-item:hover {
  background-color: gray;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

.document-toolbar {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.untitled {
  width: 10%;
  height: 40px;
  text-align: center;
  padding: 7px 15px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.untitled2 {
  width: 90%;
  height: 40px;
  border: none; /* Remove the default border */
  box-shadow: 0 1px 0 gray;
}

/* modal */

.modal {
  height: 100vh;
  display: hidden;
  place-items: center;
}

.modal__button {
  display: inline-block;
  color: #fff;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.modal__button:hover {
  background-color: black;
}

.modal__container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;

  /*=== Effect 3 ===*/
  /* perspective: 1000px; */
}

.modal__content {
  position: relative;
  background-color: white;
  text-align: center;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
  transition: all 0.3s;

  /*=== Effect 1 ===*/
  transform: translateY(10%);

  /*=== Effect 2 ===*/
  /* transform: scale(.5) translateY(10%); */

  /*=== Effect 3 ===*/
  /* transform: rotateX(65deg) scale(.75) translateY(10%);
  transform-origin: 50% 100%; */
}

.modal__img {
  width: 150px;
  margin-bottom: 0.75rem;
}

.modal__close {
  display: inline-flex;
  background-color: black;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.modal__title {
  font-size: 1.5 rem;
  color: black;
  font-weight: 500;
}

.modal__description {
  margin-bottom: 1.5rem;
}

.modal__button-width {
  width: 90%;
}

.modal__button-link {
  display: block;
  margin: 1rem auto 0;
  background-color: transparent;
  color: black;
  font-weight: 500;
}

/* Show modal */
.show-modal {
  display: grid;
  opacity: 1;
}

.show-modal .modal__content {
  /*=== Effect 1 ===*/
  transform: translateY(0);

  /*=== Effect 2 ===*/
  /* transform: scale(1) translateY(0); */

  /*=== Effect 3 ===*/
  /* transform: rotateX(0) scale(1) translateY(0); */
}

/* login form */

.login-container {
  background: white;
  min-width: 320px;
  min-height: 40vh;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.login-h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
}

.login-h2::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 25px;
  bottom: 3px;
  left: 0;
  border-radius: 8px;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input-field {
  position: relative;
}

.login-input-field:first-child {
  margin-bottom: 1.5rem;
}

.underline::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.underline::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}

.login-input-field .login-input:focus ~ .underline::after {
  transform: scaleX(1);
}

.login-input {
  outline: none;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.login-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.input-submit {
  margin-top: 2rem;
  padding: 0.4rem;
  width: 100%;
  background: linear-gradient(to left, #4776e6, #8e54e9);
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.input-submit:hover {
  letter-spacing: 0.5px;
  background: linear-gradient(to right, #4776e6, #8e54e9);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 576px) {
  .modal__content {
    margin: auto;
    width: 380px;
    border-radius: 1.25rem;
  }

  .modal__img {
    width: 170px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    /* background-color: #fff; */
    background-color: #222;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-link {
    color: #fff;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
